*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img, svg {
    display: block;
}
.container{
    max-width: 1210px !important;
    width: 100%;
    margin: 0px auto;
    padding: 0px 20px;
}
.sellaer_container{
    max-width: 1300px !important;
}
ul,
p{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}

.title h1,
.faq_title{
    font-size: 44px;
    line-height: 54px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 100px;
}